
div.post{
	margin: 160px auto 0 auto;
	width: 960px;
	text-align: left;

	h1{
		margin: 0 100px 0 100px;
		max-width: 640px;
		font-family: 'Roboto Slab', serif;
		font-weight: 400;
		font-size: 53px;
		color: #333;

		&:after{
			content: "";
			margin: 42px 0 50px 0;
			display: block;
			width: 300px;
			height: 3px;
			background-color: #333;
		}
	}

	p{
		margin: 25px 100px 0 100px;
		line-height: 25px;
		color: #444;

		a{
			color: #ff5a6f;
			text-decoration: none;
			&:hover{ text-decoration: underline; }
		}

	}

	img{
		margin: 20px -100px 20px -100px;
		width: 960px;
	}

}