doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/screen.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700|Source+Sans+Pro:300,400,300italic,400italic')
		link(rel='stylesheet', href='/stylesheets/post.css')

	body
		include includes/header
		block content